table {
	text-align: left;
}
th,td {
	line-height: 2.7em;
}
body {
	text-align: center;
}
#btnstyle {
	width: 100%;
	height: 3em;
	background-color: #e2f0fe;
	text-align: center;
}
#btnstyle:hover{
	background-color: #1e90ff;
	cursor: pointer;
}
a {
	text-decoration: none;
	color: #1a1f27;
	font-weight: bold;
}
#fs10px {
	font-size: 10px;
}
#line1 {
	border-top: 1px solid black;
}
.password{
	position: relative;
}
.password i{
	cursor: pointer;
	position: absolute;
	left: 90%;
	top: 17px;
}
.password i:hover{
	color: #b1b8c0;
}
