@charset "UTF-8";

/* ---------------------------------------------------------------- */
/* ----- Start: OHPhotoWriteView.jsp ----- */
/* ---------------------------------------------------------------- */

/* ----- Start: #OHPhotoWriteView-main ----- */
#OHPhotoWriteView-main {
	position: relative;
	background-color: #f4e1f5;
    width: 1480px;     
}
/* ----- End: #OHPhotoWriteView-main ----- */

/* ----- Start: #OHPhotoWriteView-main-1 ----- */
#OHPhotoWriteView-main-1 {
	position: relative;
	text-align: center;
	background-color: darkcyan;
	height: 100px;
}
#OHPhotoWriteView-title {
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);  
	font-size: 50px;
    font-weight: bold;
}
/* ----- End: #OHPhotoWriteView-main-1 ----- */

/* ----- Start: #OHPhotoWriteView-main-2 ----- */
#OHPhotoWriteView-main-2 {
	position: relative;
	background-color: lightslategray; 
    text-align: center;
    height: 100px;
    margin-top: 50px;   
    border-top: 3px solid skyblue;
    border-bottom: 3px solid skyblue;
}
#OHPhotoWriteView-photoBoardButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
    width: 80px;
    height: 50px;
   	background-color: powderblue;
   	border: none;
    border-radius: 10px;
}
/* 집영상 */
/* #OHPhotoWriteView-videoBoardButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
    width: 80px;
    height: 50px;
   	background-color: powderblue;
   	border: none;
    border-radius: 10px;
} */
/* ----- End: #OHPhotoWriteView-main-2 ----- */

/* ----- End: #OHPhotoWriteView-main-3 ----- */
#OHPhotoWriteView-main-3 {
    position: relative;
	background-color: bisque;
    text-align: center;
}
#OHPhotoWriteView-main-sector1 {
    position: relative;
    margin-top: 50px;
	background-color: khaki; 
    text-align: center; 
    height: 50px;   
}
#OHPhotoWriteView-writePostButton {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);     
    width: 80px;
    height: 50px;
   	background-color: powderblue;
   	border: none;
    border-radius: 10px;
}
#OHPhotoWriteView-cancelPostButton {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);     
    width: 80px;
    height: 50px;
   	background-color: powderblue;
   	border: none;
    border-radius: 10px;
}
#OHPhotoWriteView-main-sector2 {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: crimson;
    margin-top: 50px;
}
#OHPhotoWriteView-main-sector2-1 {
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
	background-color: cornflowerblue;
    width: 650px;
    height: 700px;
    display: inline-block;
    margin-right: 50px;
}
#OHPhotoWriteView-fileUploadInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     
}
#OHPhotoWriteView-main-sector2-2 {
    position: relative;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
	background-color: darkorange;
    width: 650px;
    height: 700px;
    display: inline-block;    
}
#sector2-2-layer1 {
    position: relative;
    background-color: cadetblue;
    width: 650px;
    height: 100px;
}
#layer1-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
}
#sector2-2-layer2 {
    position: relative;
    background-color: lightseagreen;
    width: 650px;
    height: 200px;    
}
#layer2-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 200px;
    line-height: 50px;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px;
}
#sector2-2-layer3 {
    position: relative;
    background-color: lightgreen;
    width: 650px;
    height: 300px;
}
#layer3-pb_category-Lable {
    position: absolute;
    top: 50px;
    left: 25px;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    background-color: lightpink;
}
#layer3-pb_category {
    position: absolute;    
    top: 100px;
    left: 25px;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    background-color: lightpink;
    border-radius: 10px;    
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#layer3-pb_residence-Lable {
    position: absolute;
    top: 50px;
    left: 150px;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    background-color: lightslategray;    
}
#layer3-pb_residence {
    position: absolute;    
    top: 100px;
    left: 150px;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    background-color: lightslategray;
    border-radius: 10px;    
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#layer3-pb_room-Lable {
    position: absolute;
    top: 50px;
    left: 275px;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    background-color: lightyellow; 
}
#layer3-pb_room {
    position: absolute;    
    top: 100px;
    left: 275px;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    background-color: lightyellow;
    border-radius: 10px;    
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#layer3-pb_style-Lable {
    position: absolute;
    top: 50px;
    left: 400px;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    background-color: lightskyblue; 
}
#layer3-pb_style {
    position: absolute;    
    top: 100px;
    left: 400px;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    background-color: lightskyblue;
    border-radius: 10px;    
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#layer3-pb_skill-Lable {
    position: absolute;
    top: 50px;
    left: 525px;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    background-color: lightcoral; 
}
#layer3-pb_skill {
    position: absolute;    
    top: 100px;
    left: 525px;
    height: 50px;
    line-height: 50px;
    width: 100px;
    text-align: center;
    background-color: lightcoral;
    border-radius: 10px;    
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/* ----- End: #OHPhotoWriteView-main-3 ----- */

/* ---------------------------------------------------------------- */
/* ----- End: OHPhotoWriteView.jsp ----- */
/* ---------------------------------------------------------------- */