@charset "UTF-8";

/* 헤더 */
body {
	margin: 0;
	padding: 0;
}

header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 130px;
	text-align: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* 헤더 윗부분 */
.header_top {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 65px;
	border-bottom: 1px solid gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: lightskyblue;
}

/* 로고 이미지 */
.header_logo {
	display: inline-block;
	margin-top: 10px;
	width: 50px;
	height: 30px;
	object-fit: fill;
	cursor: pointer;
}

/* 검색 창 */
.header_search_box {
	margin-top: 5px;
	display: inline-block;
	width: 40%;
	height: 30px;
	border: 1px solid gray;
	border-radius: 10px;
	background-color: lightgray;
}
/* 검색 부분 */
.header_search_box_input {
	margin-top: 5px;
	border: none;
	overflow: auto;
	z-index: -1;
	font-size: 15px;
	width: 80%;
	height: 60%;
	background-color: lightgray;
	text-align: center;
	cursor: pointer;
}

/* 회원관리부분 */
.header_login_box {
	margin-top: 25px;
	display: inline-block;
	width: fit-content;
	height: 30px;
	font-size: 12px;
}
/* 로그인 */
.header_login {
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	width: fit-content;
	height: fit-content;
	border-right: 1px solid gray;
	cursor: pointer;
}
/* 회원가입 */
.header_join {
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	width: fit-content;
	height: fit-content;
	border-right: 1px solid gray;
	cursor: pointer;
}
/* 마이페이지 */
.header_cs {
	float: left;
	cursor: pointer;
}

/* 헤더 아랫부분 */
.header_bottom {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 65px;
	border-bottom: 1px solid gray;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightskyblue;
    transition: 0.1s;
}

/* 카테고리 아이콘 */
.header_category_icon {
	margin-top: 12px;
	display: inline-block;
	width: fit-content;
	height: 40px;
	cursor: pointer;
}

/* 카테고리 list */
.header_category_list {
	margin-top: -5px;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid gray;
	display: inline-block;
	width: fit-content;
	height: fit-content;
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
	cursor: pointer;
}

body,html{
	width: 100%;
}
.body_section {
	width: 80%;
	margin-left: 13%;
	text-align: center;
	height: auto;
	min-height: 100%;
	padding-bottom: 130px;
}
/*헤더*/

/*cshome바디*/
.cs_home_section1{
	
	width: 850px;
	height: 380px;
	margin : 0 auto;
}
.cs_wrap_all {/*바디 전체 감싸는 랩*/
	height: auto;
	width: 100%;
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치할 때 */
}

.cs_wrap_content {/*바디 공지사항 고객센터 감싸는 랩*/
	padding: 0 0 32px;
	display: flex;
}
.cs_wrap_home_notice{/*공지사항 감싸는 랩*/
	width: 427px;
	height: 348px;
	display: block;
    unicode-bidi: isolate;
}
.cs_home_notice_head{/*공지사항 더보기*/
	display: flex;
}
.cs_home_notice_h2{/*공지사항 제목*/
	width: 300px;
	height: 28px;
	margin: 44px 0px 20px;
}
.cs_home_notice_h2_a{/*공지사항 a태그*/
	text-decoration: none;
	color:black;
}
.cs_home_notice_viewmoew{/*더보기 버튼*/
	width: 127px;
	height: 28px;
	margin: 44px 0px 20px;
	text-decoration: none;
}
.cs_home_notice_ul{/*공지사할 ul*/
 	margin-top: 20px; 
	width: 427px;
	height: 204px;
	list-style: none;
 	/* margin: 0; */
	padding: 0; 
	display: block;
}
.cs_home_notice_li{/*고지사항 li*/
	width: 391px;
	height: 28px;
	margin: 0 0 16px;
	padding: 0 0 0 10px;
	vertical-align: center;
	line-height: 28px;
}
.cs_home_notice_li_icon{/*공지사항 아이콘*/
	width: 28px;
	height: 28px;
	display: inline-flex;
}
.cs_home_notice_li_contnet{/*공지사항 내용*/
	text-decoration: none;
	color:black;
}
.cs_wrap_home_csinfor{ /*고객센터 감싸는 랩*/
	width: 375px;
	height: 260px;
	padding: 28px 24px;
	margin-top: 32px;
}
.cs_home_csinfor_h2{
	margin: 0px;
	padding: 0px;
}
.cs_home_csinfor_pwrap{
	margin-top: 15px;
	margin-bottom: 25px;
}
.cs_home_csinfor_p{
	font-size: 14px;
    line-height: 20px;
    color: #828C94;
    position: relative;
    padding-left: 20px;
    margin: 0;
}
.chatbtn{
	width: 372px;
	height: 44px;
	display: inline-flex;
	justify-content: center;
    align-items: center;
    border: 1px solid rgb(218, 221, 224);
    border-radius: 4px;
}
.emailbtn{
	/* width: 183px;
	height: 44px;
	padding: 0 16px; */
	text-decoration: none;
	width:184px;
	margin: 0px;
    background: none;
    font-size: 14px;
    line-height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    border-radius: 4px;
    padding: 0px 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    color: rgb(47, 52, 56);
    border: 1px solid rgb(218, 221, 224);
}
.emailcopy{
	/* width: 183px;
	height: 44px;
	padding: 0 16px; */
    width: 184px;
	margin: 0px;
    background: none;
    font-size: 14px;
    line-height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    border-radius: 4px;
    padding: 0px 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    color: rgb(47, 52, 56);
    border: 1px solid rgb(218, 221, 224);
}

/*아래 qna섹션*/

/*qna 제목div*/
.cs_home_qnaboard_head{
	width: 850px;
	margin : 0 auto;
}
/*제목 속 h2*/
.cs_home_qnaboard_head_h2{
	margin: 0;
}
/*제목 속 a태그*/
.cs_home_qnaboard_head_h2_a1{
	text-decoration: none;
	color: black;
}
/*제목 속 a태그*/
.cs_home_qnaboard_head_h2_a2{
	text-decoration: none;
	color: gray;
	font-size: 15px;
}
/*qna 위 여백*/
.cs_home_white_space{
	width: 100%;
	height: 30px;
}
.cs_home_wrap_qnaboard{
	width: 100%;
/* 	max-height: 700px; */
	min-height: 170px;
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치할 때 */
}
.cs_home_qnaboard_nav_wrap{
	width: 100%;
	height: 80px;
	
}
/*qna 위의 네비 바*/
.cs_home_qnaboard_nav{
	width: 95%;
	height: 38px;
	padding: 20px 24px 0;
	text-align: center;
}
/*네비 속 라벨*/
.cs_home_qnaboard_nav_label{
	height: 38px;
	border: 1px solid gray;
	border-radius : 40px;
	line-height: 0px;
	margin-right: 10px;
	padding-left: 15px;
	padding-right: 15px;
}
/*네비 속 a태그*/
.cs_home_qnaboard_nav_label_a{
	text-decoration: none;
	color: gray;
}

.cs_home_section2{
	
	flex: 1; /* 나머지 공간을 차지하도록 설정 */
	width: 850px;
	display: flex;
	margin : 0 auto;
	flex-direction: column;
}
.cs_home_qna_ul_wrap{
	width: 850px;
    display: flex;
    flex-direction: column; /* 요소들을 세로로 배치할 때 */
}
.cs_home_qna_ul{
	margin-top: 20px; 
	height: auto;
	min-height:87px;
	list-style: none;
 	/* margin: 0; */
	padding: 0; 
	display: block;
}
.cs_home_qna_li{
	width: 820px;
	height: 28px;
	margin: 0 0 16px;
	padding: 0 0 0 30px;
	vertical-align: center;
	line-height: 28px;
}
.cs_home_qna_li_icon{/*공지사항 아이콘*/
	width: 28px;
	height: 28px;
	display: inline-flex;
}
.cs_home_qna_li_contnet{/*공지사항 내용*/
	text-decoration: none;
	color:black;
}/*cshome바디*/

/* qnalist바디 */
.cs_qnaboard_whitespace{
	width: 100%;
	height: 30px;
}
.cs_list_section1{
	width: 100%;
	height: 50px;
	justify-content: center;
	display: flex;
}
.cs_list_head{
	width: 850px;
	height: 100%;
    display: flex;
    padding-left: 30px;
    align-items: center;
}
.cs_list_head_h{
	margin: 0;
}
.cs_list_section2{
	width: 100%;
	height: auto;
	min-height: 465px;
	justify-content: center;
	display: flex;
}
.cs_list_serch_bar{
	width: 100%;
	height: 60px;
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightskyblue;
    border-radius: 5px;
  	box-shadow: 0 2px 5px rgba(0,0,0,.10);
}
.cs_list_table{
	border: 1px #a39485 solid;
  	font-size: .9em;
  	box-shadow: 0 2px 5px rgba(0,0,0,.10);
  	width: 100%;
  	height: 400px;
  	border-collapse: collapse;
  	border-radius: 5px;
  	overflow: hidden;
}
.cs_list_table_thead{
	font-weight: bold;
  	color: #fff;
 	background: lightskyblue;
 	height: 30px;
}
.cs_list_table_th{
	text-align: center;
	}
.cs_list_table_title{
	text-decoration: none;
	color: black;
}
.cs_list_table_title:hover {
    color: lightskyblue; /* 마우스를 올렸을 때 링크 텍스트의 색을 빨간색으로 변경 */
}
.cs_list_wrap_writebtn{
	width: 100%;
	height: 60px;
	display: flex;
    align-items: center;
    justify-content: right;
}
.cs_list_writebtn_loc{
	width: 30%;
	display: flex;
    justify-content: right;
}
.cs_list_writebtn{
	width: 80px; 
    height: 38px;
    border: 1px solid gray;
    border-radius: 40px;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
	justify-content: center;
    display: flex;
}
.cs_list_writebtn:hover {
    border-color: lightskyblue; /* 마우스를 올렸을 때 링크 텍스트의 색을 빨간색으로 변경 */
}
 .cs_list_writebtn:hover .cs_list_writebtn_a {
    color: lightskyblue;
  }
.cs_list_writebtn_a{
	text-decoration: none;
	color: gray;
}
.cs_list_pagenum_a{
	text-decoration: none;
	color: gray;
}
.cs_list_wrap_board{
	width: 850px;
}
.cs_list_section3{
	width: 100%;
	height: 50px;
	justify-content: center;
	display: flex;
}
.cs_list_wrap_pagenum{
	width: 850px;
	height: 100%;
    display: flex;
	justify-content: center;
}/* qnalist바디 */

/*qnacontent바디*/
.cs_content_section1{
	width: 100%;
	height: 70px;
	justify-content: center;
	display: flex;
	margin-top: 20px;
}
.cs_list_head_wrap_span{
	margin-top: 5px;
	margin-left: 5px;
}
.cs_content_head{
	width: 850px;
	height: 100%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
 	/* text-align: center; */
 	justify-content: center;
}
.cs_list_head_wrap_h{
	display:flex;
	margin: 0;
	align-items: center;
}
.cs_list_head_h{
	margin-left: 10px;
}
.cs_list_head_p{
	margin: 0;	
}
.cs_content_section2{
	width: 100%;
	height: auto;
	justify-content: center;
	display: flex;
	flex-direction: column;
    align-items: center;
}
.cs_content_section2_img{
	max-width: 350px;
	max-height: 350px;
}
.cs_content_section2_title{
	width: 850px;
	height: 30px;;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
 	justify-content: center;
}
.cs_content_section2_content{
	width: 850px;
	height: auto;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
 	justify-content: center;
}
.cs_content_section3{
	width: 100%;
	height: auto;
	justify-content: center;
	display: flex;
	flex-direction: column;
    align-items: center;
    margin-top: 70px;
}
.cs_content_section3_rcnt{
	width: 850px;
	height: 50px;
    display: flex;
    flex-direction: column;
 	justify-content: center;
}
.cs_content_section3_rcnt_span{
	color: lightskyblue;
}
.cs_content_section3 form {
	margin-top: 25px;
	display: flex; /* 폼 내부 요소들을 가로로 배치하기 위해 Flexbox를 사용합니다. */
	flex-direction: row; /* 요소들을 가로로 배치합니다. */
	align-items: center; /* 요소들을 수직 중앙 정렬합니다. */
}
.cs_content_section3_replyform{
	width: 850px;
	height: 100%;
    display: flex;
 	justify-content: center;
 	flex: 1; /* 폼 요소들이 유연하게 확장되도록 설정합니다. */
	flex-direction: row; /* 내부 요소들을 세로로 배치합니다. */
	align-items: center; /* 내부 요소들을 수직 중앙 정렬합니다. */
}
.cs_content_section3_replyform_ti{
	border: 1px solid gray;
	border-radius : 10px;
	height: 40px;
	display: flex;
	align-items: center;
	margin-left: 10px;
}
.cs_content_section3_replyform_textarea{
	width: 700px;
	height: 25px;
	border: none;
	outline: none;
	resize: none;
	overflow-y: auto;
	font-size: 17px;
	margin-left: 10px;
}
.cs_content_section4{
	width: 100%;
	height: auto;
	justify-content: center;
	display: flex;
	flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.cs_content_section4_wrap_rreply{
	width: 750px;
	height: 100%;
    display: flex;
 	justify-content: center;
 	flex: 1; /* 폼 요소들이 유연하게 확장되도록 설정합니다. */
	flex-direction: column; /* 내부 요소들을 세로로 배치합니다. */
	align-items: center;  /* 내부 요소들을 수직 중앙 정렬합니다. */
	margin-top: 40px;
}
.cs_content_section4_wrap_rreply_c{
	width:766px;
	background-color: darkgray;
	border-radius: 10px;
	margin-left: 40px;
}
.cs_content_section4_wrap_rreply_ni{
	width: 750px;
	height: 30px;
    align-items: center;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}
.cs_content_section4_wrap_rreply_ni_h4{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 15px;
}
.cs_content_section4_wrap_rreply_content{
	width: 750px;
	height: 30px;
	align-items: center;
    display: flex;
    margin-top: 10px;
}
.cs_content_section4_wrap_rreply_wrap_btn{
	display: flex;
	margin-top: 10px;
}
.cs_content_section4_wrap_rreply_btn{
	border: none;
	background-color: white;
	color: gray;
}
.reply_input_btn{
	background-color: white;
	border: none;
	color: lightskyblue;
	font-weight: bold; 
	font-size: 15px;
	margin-right: 10px;
}
.cs_content_section4_wrap_replyrview{
	margin-top: 20px;
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}
.cs_content_section4_replyrview{
	background-color: lightgray;
	border-radius: 10px;
	width: 700px;
	margin-left: 30px;
	margin-right: 20px;
}
.cs_content_section4_replyrview_rni{
	align-items: center;
    display: flex;
    flex-direction: row;
}
.cs_content_section4_replyrview_wrap_inputform{
    display:none;
    flex-direction: column;
    align-items: center;
}
.cs_content_section4_replyrview_inputform{
	width: 660px;
	height: 30px;
	display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border-color: lightskyblue;
}
.cs_content_section4_replyrview_inputform_ta{
	width: 570px;
	height: 25px;
	border: none;
	outline: none;
	resize: none;
	overflow-y: auto;
	font-size: 17px;
	margin-left: 15px; 	
}
/*푸터*/
footer {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 130px;
	position: relative;
	transform: translateY(10%);
	border-top: 1px solid gray;
	display: flex;
	background-color: lightskyblue;
}

/* 푸터 로고 */
.footer_logo {
	margin-top: 15px;
	margin-left: 30px;
	width: 10%;
	height: 100px;
	border: 1px solid gray;
}

/* 푸터 내용 */
.footer_content {
	margin-left: 50px;
	width: 60%;
	white-space: pre-line;
}

/* sns 아이콘 */
.footer_sns {
	text-align: right;
	margin-top: 100px;
	width: 20%;
}
/*푸터*/

