<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tech.ibara.csnotice.dao.QnaBoardIDao">


   <!-- 리스트 검색 결과 include문 qq일때 검색, 전체 검색, 우리집 자랑 검색 등등 -->
   <sql id="includqnalist">
      <choose>
         <when test="param4==1">
            WHERE QBQNADIV='qq'
            AND QBTITLE LIKE '%'||#{param3}||'%'
         </when>
         <when test="param4==2">
            WHERE QBTITLE LIKE '%'||#{param3}||'%'
         </when>
         <when test="param4==3">
            WHERE QBQNADIV='oh'
            AND QBTITLE LIKE '%'||#{param3}||'%'
         </when>
         <when test="param4==4">
            WHERE QBQNADIV='biz'
            AND QBTITLE LIKE '%'||#{param3}||'%'
         </when>
         <when test="param4==5">
            WHERE QBQNADIV='pf'
            AND QBTITLE LIKE '%'||#{param3}||'%'
         </when>
         <when test="param4==6">
            WHERE QBQNADIV='sh'
            AND QBTITLE LIKE '%'||#{param3}||'%'
         </when>
         <otherwise>


         </otherwise>
      </choose>
   </sql>


   <select id="qnalist" resultType="com.tech.ibara.csnotice.dto.QnaDto">
      SELECT
      QBNO,QBWRITER,QBTITLE,QBCONTENT,QBDATE,QBHIT,QBGROUP,QBSTEP,QBINDENT,QBQNADIV
      FROM (SELECT ROWNUM NUM,N.*
      FROM (SELECT
      QBNO,QBWRITER,QBTITLE,QBCONTENT,QBDATE,QBHIT,QBGROUP,QBSTEP,QBINDENT,QBQNADIV
      FROM CS_QNABOARD
      ORDER BY QBGROUP DESC,QBSTEP ASC)N
      <include refid="includqnalist" />
      )WHERE NUM BETWEEN #{param1} AND #{param2}
   </select>

   <select id="selectBoardTotalCount1" resultType="Integer">
      SELECT COUNT(*)
      FROM CS_QNABOARD
      WHERE QBQNADIV='qq'
   </select>

   <select id="selectBoardTotalCount2" resultType="Integer">
      SELECT COUNT(*)
      FROM CS_QNABOARD
   </select>

   <select id="selectBoardTotalCount3" resultType="Integer">
      SELECT COUNT(*)
      FROM CS_QNABOARD
      WHERE QBQNADIV='oh'
   </select>

   <select id="selectBoardTotalCount4" resultType="Integer">
      SELECT COUNT(*)
      FROM CS_QNABOARD
      WHERE QBQNADIV='biz'
   </select>

   <select id="selectBoardTotalCount5" resultType="Integer">
      SELECT COUNT(*)
      FROM CS_QNABOARD
      WHERE QBQNADIV='pf'
   </select>

   <select id="selectBoardTotalCount6" resultType="Integer">
      SELECT COUNT(*)
      FROM CS_QNABOARD
      WHERE QBQNADIV='sh'
   </select>

   <select id="qnawrite"
      resultType="com.tech.ibara.csnotice.dto.QnaDto">
      INSERT INTO
      CS_QNABOARD(QBNO,QBTITLE,QBCONTENT,QBWRITER,QBHIT,QBDATE,QBGROUP,QBSTEP,QBINDENT,QBFILECODE,QBQNADIV)
      VALUES(CS_QNABOARD_SEQ.NEXTVAL,#{param2},#{param3},#{param1},0,SYSDATE,0,0,0,#{param4},#{param5})
   </select>

   <select id="imgwrite">
      INSERT INTO CS_QNABOARD_IMG
      VALUES(CS_QNABOARD_IMG_SEQ.NEXTVAL,#{param1},#{param2})
   </select>

   <select id="selsqbno" resultType="Integer">
      SELECT MAX(QBFILECODE) FROM
      CS_QNABOARD_IMG
   </select>

   <update id="uphit">
      UPDATE CS_QNABOARD SET QBHIT=QBHIT+1 WHERE
      QBNO=#{PARAM1}
   </update>

   <update id="qnaeditproc">
      UPDATE CS_QNABOARD SET QBTITLE=#{param2},QBCONTENT=#{param3},QBQNADIV=#{param4} WHERE
      QBNO=#{param1}
   </update>

   <select id="qnacontent"
      resultType="com.tech.ibara.csnotice.dto.QnaDto">
      SELECT
      QBNO,QBQNADIV,QBWRITER,QBTITLE,QBCONTENT,QBDATE,QBHIT,QBGROUP,QBSTEP,QBINDENT,QBFILECODE
      FROM
      CS_QNABOARD
      WHERE QBNO=#{param1}
   </select>
   
   <select id="getfileListbefore" resultType="String">
      SELECT FILESRC 
      FROM CS_QNABOARD_IMG
      WHERE QBFILECODE=#{param1}
   </select>   

   <select id="selfilecode" resultType="Integer">
      SELECT QBFILECODE 
      FROM CS_QNABOARD
      WHERE QBNO=#{param1}
   </select>   
   
   <delete id="deletefilebefore">
      DELETE FROM CS_QNABOARD_IMG
      WHERE QBFILECODE=#{param1}
   </delete>
   
   <insert id="editimg">
      INSERT INTO CS_QNABOARD_IMG
      VALUES(CS_QNABOARD_IMG_SEQ.NEXTVAL,#{param1},#{param2})
   </insert>
   
   <select id="imglist" resultType="com.tech.ibara.csnotice.dto.QnaImgDto">
      SELECT *
      FROM CS_QNABOARD_IMG
      WHERE QBFILECODE=#{param1}
   </select>   

   <!-- ================================================================================= -->
    <select id="qnacontentview"
      resultType="com.tech.ibara.csnotice.dto.QnaDto">
      SELECT
      B.QBNO,B.QBTITLE,B.QBQNADIV,B.QBCONTENT,B.QBWRITER,B.QBHIT,B.QBDATE,B.QBGROUP,B.QBSTEP,B.QBFILECODE,I.FILESRC
      FROM CS_QNABOARD B LEFT OUTER JOIN CS_QNABOARD_IMG I
      ON B.QBFILECODE=I.QBFILECODE
      WHERE B.QBNO=#{param1}
   </select> 

   <resultMap type="com.tech.ibara.csnotice.dto.QnaImgDto" id="QnaImgDto">
      <result column="QBNO" property="qbno" />
      <result column="QBFILECODE" property="qbfilecode" />
      <result column="FILESRC" property="filesrc" />
   </resultMap>

   <resultMap type="com.tech.ibara.csnotice.dto.QnaDto" id="QnaDto">
      <result column="QBNO" property="qbno" />
      <result column="QBTITLE" property="qbtitle" />
      <result column="QBCONTENT" property="qbcontent" />
      <result column="QBWRITER" property="qbwriter" />
      <result column="QBHIT" property="qbhit" />
      <result column="QBDATE" property="qbdate" />
      <result column="QBGROUP" property="qbgroup" />
      <result column="QBSTEP" property="qbstep" />
      <result column="QBINDENT" property="qbindent" />
      <result column="QBFILECODE" property="qbfilecode" />
      <result column="QBQNADIV" property="qbqnadiv" />
      <collection property="qnaImgDto" resultMap="QnaImgDto" />
   </resultMap>



   <select id="qnacontentimgview" parameterType="com.tech.ibara.csnotice.dto.QnaImgDto" resultMap="QnaImgDto">
      SELECT I.FILESRC
      FROM CS_QNABOARD B LEFT OUTER JOIN CS_QNABOARD_IMG I
      ON B.QBFILECODE=I.QBFILECODE
      WHERE B.QBNO=#{param1}
   </select>

   <!-- =================================================================================== -->

   <update id="imgdelete">
      DELETE FROM CS_QNABOARD_IMG WHERE
      QBFILECODE=#{param1}
   </update>

   <update id="qnadelete">
      DELETE FROM CS_QNABOARD WHERE
      QBNO=#{param1}
   </update>

   <insert id="qnareply">
      INSERT INTO CS_QNABOARD_REPLY
      VALUES(#{param1},CS_QNABOARD_REPLY_SEQ.NEXTVAL,#{param3},#{param2},0,CS_QNABOARD_REPLY_SEQ.NEXTVAL,0)
   </insert>

   <select id="replylist" resultType="com.tech.ibara.csnotice.dto.QnaReplyDto">
      SELECT
      QBNO,RQBNO,RQBWRITER,RQBCONTENT,RQBSTEP,RQBGROUP,RQBINDENT
      FROM CS_QNABOARD_REPLY
      WHERE QBNO=#{param1} AND RQBSTEP=0
      ORDER BY RQBNO DESC
   </select>

   <select id="replyrlist" resultType="com.tech.ibara.csnotice.dto.QnaReplyDto">
      SELECT
      QBNO,RQBNO,RQBWRITER,RQBCONTENT,RQBSTEP,RQBGROUP,RQBINDENT
      FROM CS_QNABOARD_REPLY
      WHERE RQBGROUP=#{param1} AND RQBSTEP>=1
      ORDER BY RQBNO ASC
   </select>

   <select id="replycnt" resultType="Integer">
      SELECT COUNT(*)
      FROM CS_QNABOARD_REPLY
      WHERE QBNO=#{param1} AND RQBSTEP=0
   </select>


   <insert id="qnareply_r">
      INSERT INTO
      CS_QNABOARD_REPLY(QBNO,RQBNO,RQBWRITER,RQBCONTENT,RQBSTEP,RQBGROUP,RQBINDENT)
      VALUES(#{param1},CS_QNABOARD_REPLY_SEQ.NEXTVAL,#{param3},#{param4},#{param6}+1,#{param2},#{param7}+1)
   </insert>

   <update id="replyShape">
      UPDATE CS_QNABOARD_REPLY
      SET RQBSTEP=RQBSTEP+1
      WHERE RQBGROUP=#{param1} AND RQBSTEP>#{param2}
   </update>


</mapper>