@charset "utf-8";

/* 헤더 */
body {
	margin: 0;
	padding: 0;
}

header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 130px;
	text-align: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* 헤더 윗부분 */
.header_top {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 65px;
	border-bottom: 1px solid #b1b8c0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

/* 로고 이미지 */
.header_logo {
	display: inline-block;
	margin-top: 5px;
	margin-left: 150px;
	width: 400px;
	height: 50px;
	object-fit: fill;
	cursor: pointer;
}

.header_logo img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

/* 검색 창 */
.header_search_box {
	margin-top: 5px;
	display: inline-block;
	width: 40%;
	height: 30px;
	border: 1px solid #b1b8c0;
	border-radius: 10px;
	background-color: #f9fafb;
}
.header_search_box:hover {
	background-color: #e2f0fe;
}
.header_search_box:click {
	background-color: #e2f0fe;
}
/* 검색 부분 */
.header_search_box_input {
	margin-top: 5px;
	border: none;
	overflow: auto;
	z-index: -1;
	font-size: 15px;
	width: 80%;
	height: 60%;
	background-color: #f9fafb;
	text-align: center;
	cursor: pointer;
}
.header_search_box_input:hover {
	background-color: #e2f0fe;
}
.header_search_box_input:click {
	background-color: #e2f0fe;
}

/* 회원관리부분 */
.header_login_box {
	margin-top: 25px;
	display: inline-block;
	width: fit-content;
	height: 30px;
	font-size: 12px;
}
/* 로그인 */
.header_login {
	float: left;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: fit-content;
	height: fit-content;
	border-left: 1px solid #b1b8c0;
	border-right: 1px solid #b1b8c0;
	cursor: pointer;
}
/* 회원가입 */
.header_join {
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	width: fit-content;
	height: fit-content;
	border-right: 1px solid #b1b8c0;
	cursor: pointer;
}
/* 마이페이지 */
.header_cs {
	float: left;
	cursor: pointer;
}

/* 헤더 아랫부분 */
.header_bottom {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 65px;
	border-bottom: 1px solid #b1b8c0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
    transition: 0.1s;
}

/* 카테고리 아이콘 */
.header_category_icon {
	margin-top: 12px;
	display: inline-block;
	width: fit-content;
	height: 40px;
	cursor: pointer;
}

/* 카테고리 list */
.header_category_list {
	margin-top: -5px;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #b1b8c0;
	display: inline-block;
	width: fit-content;
	height: fit-content;
	font-size: 15px;
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: none;
	cursor: pointer;
}
.header_category_list:hover {
	padding-right: 10px;
	transform: scale(1.1);
    letter-spacing: 2px;
	background-color: #e2f0fe;
	transition: 0.1s;
	font-size: 18px;
}
.header_category_list a {
	color: #1a1f27;
	text-decoration: none;
}
.header_category_list a:visited a:action{
	color: #1a1f27;
	text-decoration: none;
}

.body_section {
	width: 80%;
	margin-left: 13%;
	text-align: center;
	height: auto;
	min-height: 100%;
	padding-bottom: 130px;
}

.search_result{
    display: -webkit-box;
    text-align: left;
    width: 90%;
    min-height: 25%;
    max-height: 40%;
    height: min-content;
    display: block;
}

.result_title{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.result_content_wrap{
    margin-top: 10px;
    margin-bottom: 40px;
    text-decoration: none;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
	overflow: hidden;
    line-height: 1.5;
    width: 100%;
	height: 274px;
}
.result_content{
    margin-top: 10px;
    text-decoration: none;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    height: min-content;
    background-color: #e2f0fe;
}

.result_more{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size : 20px;
    font-weight: bold;
}

.result_none{
	font-size : 20px;
	font-weight: bold;
	display: none;
	margin-bottom: 40px;
}

/* .biz_none .shop_none .oh_none .notice_none .qna_none{
	display: none;
} */
/* 왼쪽 사이드바 */
.main_left_side_bar{
    position: fixed;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    background-color: #1e90ff;
    width: 150px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 15px 35px #b1b8c0;
    border-right: 1px solid #b1b8c0;
    border-bottom: 1px solid #b1b8c0;
    border-radius: 30px;
    z-index: 999;
    overflow-y: hidden;
    visibility: hidden;
    transition: 0.2s;
}
.side_bar_button{
    transform: translateY(-15%);
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 45px;
    border: none;
    display: inline-block;
    box-shadow: 0 1px 1px #b1b8c0;
    border-radius: 40px;
    background-color: #b1b8c0;
    font-weight: 600;
    font-family: "paybooc-Light", sans-serif;
    color: #f9fafb;
}
.side_bar_button:hover {
    letter-spacing: 2px;
    transform: scale(1.1);
    font-size: 15px;
    cursor: pointer;
}
.side_bar_button:active {
    transform: sclae(1.1);
}
/* 푸터 */
footer {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 130px;
	position: relative;
	transform: translateY(10%);
	border-top: 1px solid #b1b8c0;
	display: flex;
	background-color: #b1b8c0;
}
/* 푸터 로고 */
.footer_logo {
	margin-top: 5px;
	margin-left: 30px;
	width: 120px;
	height: 120px;
	border: 1px solid #b1b8c0;
	cursor: pointer;
}

.footer_logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

/* 푸터 내용 */
.footer_content {
	margin-top: 10px;
	margin-left: 50px;
	width: 60%;
	white-space: pre-line;
}

/* sns 아이콘 */
.footer_sns {
	position: absolute;
	right: 50px;
	bottom: 10px;
	text-align: right;
	margin-top: 100px;
	width: 150px;
	height: 25px;
}
.footer_sns a{
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	text-decoration: none;
}